@media only screen and (max-width: 750x) {
    .skillBox {
        width: 50vw;
        height: 50vw;
        position: relative;
        text-align: center;
    }

    .skillBox p {
        margin-top: 1vh;
        font-size: 100%;
    }

    .skillImageWrapper {
        left: 0;
        text-align: center;
        bottom: 1rem;
        width: 100%;
    }
}