@media only screen and (max-width: 750px) {
    .skillBox{
        width:30vw;
        height:30vw;
    }
    .skillBox p{
        margin-top:1vh;
        font-size:4vw;
    }

    .skillImageWrapper{
        position:absolute;
        margin:auto 30%;
        bottom:1rem;
        width:12vw;
    }
    
    .skillImageWrapper img{
        width:10vw;
    }
}