@keyframes box-in {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.skillBox {
    width: 200px;
    height: 200px;
    background-color: rgb(133, 150, 156);
    margin: 1rem;
    text-align: center;
    font-family: Inter-Bold;
    border-radius: 20px;
    border-bottom-right-radius: 45px;
    box-shadow: -10px 10px 2px #535457;
    position: relative;
    opacity: 0.0;
    transform: translateY(10vh);
}

.skillBox p {
    font-size: 125%;
    padding: 1vw;
}

.skillImageWrapper {
    position: absolute;
    bottom: 1.5rem;
    width: 100%;
}

.skillImageWrapper img {
    width: 5rem;
}