.skills {
    background-color: #353a50;
}

.skillsWrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-grow: 0.03;
    flex-wrap: wrap;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 8vh;
    padding-bottom: 5vh;
}