.links {
    background-color: #323644;
}

.linksWrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-grow: 0.03;
    flex-wrap: wrap;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 8vh;
    padding-bottom: 5vh;
}