@font-face {
    font-family: Inter-ExtraBold;
    src: url('../../fonts/static/Inter-ExtraBold.ttf');
}

@font-face {
    font-family: Inter-Light;
    src: url('../../fonts/static/Inter-Light.ttf');
}

/* @keyframes slide-in {
    to {
        transform: translateX(0);
        opacity: 1;
    }
} */

.contact {
    background-color: #272f46;
    color: #dee1ec;
    font-family: Inter-ExtraBold;
    text-align: center;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.formTitle {
    /* font-size: ; */
    padding: 2%;
}

.formTitle,
.formMessage {
    transform: translateX(-10vw);
    opacity: 0;
}

.formEmail,
.formButton {
    transform: translateX(10vw);
    opacity: 0;
}

.form .formEmail,
.formMessage,
.formButton {
    padding: 1vw;
}

.formEmail input,
.formMessage textarea,
.formButton button {
    width: 40vw;
    transform: scale(100%);
    transition: transform 0.1s ease-in-out;
    border: none;
    padding: 1%;
    border-radius: 20px;
    border-bottom-right-radius: 40px;
    box-shadow: 7px 7px 0px 0px #4e5d8a;
    background-color: rgba(132, 143, 173, 0.3);
    color: #ffffff;
    font-size: 2vh;
    font-family: Inter-Light;
}

.formEmail input::placeholder,
.formMessage textarea::placeholder {
    color: #a4a6ac;
}

.formEmail input:focus,
.formMessage textarea:focus {
    outline: none;
    transform: scale(101%);
    transition: transform 0.1s ease-in-out;
    box-shadow: 7px 7px 0px 0px #6174ad;
    background-color: rgba(132, 143, 173, 0.35);
}

.formEmail input {
    height: 3vh;
}

.formMessage textarea {
    resize: none;
    height: 40vh;
}

.formButton button:hover {
    cursor: pointer;
}

.formButton button:active {
    background-color: rgba(132, 143, 173, 0.2);
    box-shadow: 7px 7px 0px 0px #6174ad;
}