@font-face {
    font-family: Inter-Bold;
    src: url('../../fonts/static/Inter-Bold.ttf');
  }

nav{
    margin:0;
    border:0;
    background-color: #38383b;
    width:10rem;
    height:100vh;
    color:rgb(190, 194, 201);
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    justify-content: center;
    font-family:'Inter-Bold';
}
.navigationList{
    flex-direction: column;
    display:flex;
}

.navigationListItem{
    list-style-type: none;
    cursor: pointer;
    margin-top:25px;
    margin-bottom:25px;
}
.navigationListItem:hover{
    color:rgb(153, 155, 160);
}