@font-face {
    font-family: Inter-Extra-Bold;
    src: url('../../fonts/static/Inter-ExtraBold.ttf');
}

@font-face {
    font-family: Inter-Bold;
    src: url('../../fonts/static/Inter-Bold.ttf');
}

@keyframes slide-in{
    to {
        transform:translateX(0);
        opacity:1;
    }
}

article{
    font-family: 'Inter-Extra-Bold';
    padding-top:25vh;
    padding-left:10vw;
    padding-bottom:15vh;
}
.aboutMe{
    font-size:4vh;
    background-color:#1c1d20;
    color:#e5e6e7;
    font-family: 'Inter-Bold';
}
h1{
    animation: 0.6s slide-in 0.1s ease-in forwards;
    opacity:0;
    transform:translateX(10%);
    padding:0.5rem;

}
.whatIDo{
    animation: 0.5s slide-in 0.15s ease-in forwards;
    transform:translateX(-10%);
    opacity:0;
    font-size:3vh;
    padding-left:2vh;
}
.whoIAm{
    font-size:2.5vh;
    border-radius: 20px 20px 100px 20px;
    padding:1.5vh;
    box-shadow: 10px 10px 2px #6c6d70;
    margin:15vh 15vw;
    padding-right:5vw;
    background-color:#3a3d44;
}
.whoIAm p{
    font-size:3vh;
    padding-top: 0.5vh;
    padding-left:1vw
}